.card{
  
  flex-basis: content;
  border: ridge;
  border-left-width: medium;
  height: 40vh;
  box-shadow: 4px 11px 16px 5px rgb(0 0 0 / 73%);
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
 flex-direction: column;
  
  justify-content: space-around;
  align-content: space-around;
}
.avatar{
  width: auto;
  height: 20vh;

}

.flex{
    display: flex;
}